@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    font-family: Roboto, Arial, Verdana, sans-serif;
}

.public-DraftEditor-content{
    margin: 0px 0px;
    padding: 20px 0px
}

.preview {
    height: 100%;
    min-height: 50px;
    /*padding: 4px 0px;*/
    padding: 20px 0px;
}

.preview-element {
    padding: 0px 15px;
}

.public-DraftStyleDefault-block {
    margin: 0;
}

p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h1, h2, h3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;   
    margin: 0;
    display: block; 
    margin-bottom: 0.35em;
}

h1 {    
    font-size: 2.8125rem;
    line-height: 1.13333em;
    margin-left: -0.02em;    
}

h2 {
    font-size: 2.125rem;
    line-height: 1.20588em;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.35417em;
}

.rdw-image-modal {
    z-index: 1000;
}

ul[role="menu"] {
    background: white;
}

/* images */
.rdw-image-imagewrapper {
    max-width: 100%;
}
.rdw-image-imagewrapper img {
    max-width: 100% !important;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.preview img {
    max-width: 100% !important;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.fullwidth img {
    max-width: 100% !important;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
}

.rdw-editor-toolbar img {
    width: auto !important;
}

figure {
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}

.rdw-image-modal-size {
    display: none;
}

/* animations */
.animTranslateX-enter {
    opacity: 0;
    transform: translateX(-150px);
}
.animTranslateX-enter.animTranslateX-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: 0.9s;
}
   
.animTranslateX-leave {
    opacity: 1;
    transform: translateX(0);
}   
.animTranslateX-leave.animTranslateX-leave-active {
    opacity: 0;
    transform: translateX(150px);
    transition: 0.9s;
}

.animTranslateX-appear {
    opacity: 0;
    transform: translateX(-150px);
}
.animTranslateX-appear.animTranslateX-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: 0.9s;
}



.animTranslateY-enter {
    opacity: 0;
    transform: translateY(-25px);
}
.animTranslateY-enter.animTranslateY-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 0.9s;
}
   
.animTranslateY-leave {
    opacity: 1;
    transform: translateY(0);
}   
.animTranslateY-leave.animTranslateY-leave-active {
    opacity: 0;
    transform: translateY(25px);
    transition: 0.9s;
}

.animTranslateY-appear {
    opacity: 0;
    transform: translateY(-25px);
}
.animTranslateY-appear.animTranslateY-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: 0.9s;
}



.animHeight-appear {
    opacity: 0;
    height: 0px;
}
.animHeight-appear.animHeight-appear-active {
    opacity: 1;
    height: 70px;
    transition: 0.9s;
}
.animHeight-enter {
    opacity: 0;
    height: 0px;
}
.animHeight-enter.animHeight-enter-active {
    opacity: 1;
    height: 70px;
    transition: 0.9s;
}
.animHeight-enter {
    opacity: 0;
    height: 0px;
}
.animHeight-enter.animHeight-enter-active {
    opacity: 1;
    height: 70px;
    transition: 0.9s;
}


.animOpacity-enter {
    opacity: 0;  
  }
  .animOpacity-enter.animOpacity-enter-active {
    opacity: 1;  
    transition: opacity 1.9s ease, filter 1.9s ease;
  }
   
  .animOpacity-leave {
    opacity: 1;  
  }   
  .animOpacity-leave.animOpacity-leave-active {
    opacity: 0;  
    transition: opacity 1.9s ease, filter 1.9s ease;
  }
  
  .animOpacity-appear {
    opacity: 0;  
  }
  .animOpacity-appear.animOpacity-appear-active {
    opacity: 1;  
    transition: opacity 1.9s ease, filter 1.9s ease;
  }